@import '../../../scss/brekpoints.scss';

.nav {
   border-bottom: 1px solid #E5E5E5;
   min-height: 52px;
   display: flex;
   justify-content: space-between;
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    @include breakpoint(sm, max) {
        display: none;
    }

    li {
        border-right: 1px solid #E5E5E5;
        display: flex;
     

        a {
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            color: #000;
            font-size: 1.6rem;
            padding: 0 54px;
            display: flex;
            align-items: center;
            
            &:hover {
                background: #000;
                color: #fff;
            }
        }

        button {
            font-family: 'Roboto', sans-serif;
            color: #000;
            font-size: 1.6rem;
            padding: 0 54px;
            border: 0;
            background: none;
            cursor: pointer;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}

.mobileNav {
    display: none;
    width: 100%;

    &__burger {
        cursor: pointer;
        width: 40px;
        position: relative;
        margin: 15px;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            overflow: hidden;
            margin-bottom: 4px;
        }
    }

    ul {

        margin: 0;
        padding: 0;

        li {
            list-style: none;
            border-top: 1px solid #E5E5E5;

            a {
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                color: #000;
                font-size: 1.6rem;
                padding: 10px 15px;
                display: block;
                
                &:hover {
                    background: #000;
                    color: #fff;
                }
            }

            button {
                font-family: 'Roboto', sans-serif;
                color: #000;
                font-size: 1.6rem;
                padding: 10px 15px;
                border: 0;
                background: none;
                cursor: pointer;
                width: 100%;
                text-align: left;
    
                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }

    @include breakpoint(sm, max) {
        display: block;
    }

}