.nav {
   border-bottom: 1px solid #E5E5E5;
   min-height: 52px;
   display: flex;
   justify-content: space-between;
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
        border-right: 1px solid #E5E5E5;
        display: flex;
     

        a {
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            color: #000;
            font-size: 1.6rem;
            padding: 0 54px;
            display: flex;
            align-items: center;
            
            &:hover {
                background: #000;
                color: #fff;
            }
        }

        button {
            font-family: 'Roboto', sans-serif;
            color: #000;
            font-size: 1.6rem;
            padding: 0 54px;
            border: 0;
            background: none;
            cursor: pointer;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}

.mobileNav {
    display: none;

}