@import '../../scss/brekpoints.scss';
.footer {
   border-top: 1px solid #E5E5E5;
   text-align: center;
   padding: 30px 0;
   margin: 0 96px;

   @include breakpoint(sm, max) {
        margin: 0 26px;
   }


   p {
       font-size: 1.2rem;
       color: #240404;
   }
}   