@import '../../../scss/brekpoints.scss';
.blog {
    h2 {
        font-size: 2rem;
        
        a {
            color: #000;
            text-decoration: none;
        }
        margin: 0 0 35px 0;

        @include breakpoint(sm, max) {
            margin-bottom: 15px;
        }
    }

    &__readMore {
        color: #497CE0;
        text-decoration: none;

        span {
            font-size: 0.9rem;
            position: relative;
            top: -2px;
        }
    }

    &__inner {
        margin: 0 0 40px 0;
    }
}