.header {

    &__inner {
        display: flex;
    }

    &__title {
        padding: 0 0 0 81px;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 400;
        flex-basis: 70%;

        span {
            color: #C4C4C4;
            font-weight: 600;
            margin-right: 5px;
        }
    }

    &__sigh {
        margin-right: 60px;
    }
}