.header {

    border-bottom: 1px solid #E5E5E5;

    &__inner {
        display: flex;
        padding: 30px 60px 30px 81px;
        align-items: center;
    }

    &__title {
        padding: 0 20px 0 0;
        font-size: 3.6rem;
        line-height: 1.2;
        font-weight: 400;
        flex-basis: 70%;
        margin: 0;

        span {
            color: #C4C4C4;
            font-weight: 600;
            margin-right: 5px;
        }
    }

    &__sigh {
       display: block;
    }
}   