$breakpoints: (
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1399px
);

// mobile-first breakpoint mixin
@mixin breakpoint($breakpoint: md, $key: min, $orientation: false) {
  @if ($orientation) {
    @media (#{$key}-width: map-get($breakpoints, $breakpoint)) and (orientation : $orientation) {
      @content;
    }
  } @else {
    @media (#{$key}-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}